# --- Dependencies ---
/node_modules
/.pnp
.pnp.js
.yarn/*

# --- Next.js Build & Cache ---
/.next/
/out/
/build
/dist

# --- Environment Variables (CRITICAL) ---
# Isse tumhara GitHub Token leak nahi hoga
.env*.local
.env

# --- Debug & Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- OS Related ---
.DS_Store
Thumbs.db
*.pem

# --- Vercel ---
.vercel

# --- TypeScript ---
*.tsbuildinfo
next-env.d.ts